.task-list-container {
    margin-top: 20px;
}

.task-list-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list-item {
    margin-bottom: 10px;
}

/* TaskItem.css */

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}
